* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .logo-gif {
    width: 300px;
    margin: 20px auto;
    display: block;
  }
  
  body {
    background-color: #8a51fc;
  }
  
  main {
    width: 375px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
  }
  
  .converter-real {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
  }
  
  .converter-dolar {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
  }
  
  .converter-input {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
  }
  
  select,
  input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 14px;
    font-weight: 700;
    font-size: 16px;
    font: bold;
    color: #555555;
  }
  
  button {
    background: #772fd3;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:active {
    opacity: 0.6;
  }
  
  .caixa-um {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .arrow {
    margin: 15px 0;
  }
  
  .real {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  .dollar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  .money {
    color: #777777;
    font-size: 14px;
    font: bolder;
  }
  
  .money-value, .converted-money-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
  }
  